@import "tailwindcss";

/* Print Settings */

@media print {

  header,
  footer,
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  #certificate {
    width: 100% !important;
    max-width: 100% !important;
    box-shadow: none !important;
    margin: 0 auto !important;
    page-break-inside: avoid;
  }

}